$color-white: #ffffff;
$color-purple: #9272FE;
$color-dark-purple: #4449D8;
$color-dark-blue: #0133B5;
$color-blue: #38B8FF;
$color-light-blue: #7FBCFE;
$color-grey: #D7D9E1;
$color-light-grey: #C0CFFA;
$color-red: #FF0000;
$color-dark-red: #8B0000;
$color-green: #008000;
